<html>
<body>
<h2>HTML Forms</h2>
<form action="/submit" method="POST">
    <label for="science">Science:</label>
    <input type="text" id="science" name="science" value="0"><br>

    <label for="math">Maths:</label>
    <input type="text" id="math" name="math" value="0"><br>

    <label for="english">English:</label>
    <input type="text" id="english" name="english" value="0"><br> 

    <label for="history">History:</label>   
    <input type="text" id="history" name="history" value="0"><br><br>

    <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the data will be sent to the page called "/submit".</p>
</body>
</html>
